       <!-- Start Footerbar -->
       <div class="footerbar">
        <footer class="footer">
            <p class="mb-0">© 2022 e-Voting - All rights reserved.</p>
        </footer>
    </div>

    <!-- End Footerbar -->
</div>

</div>
<script src="https://evoting.mediacity.co.in/public/assets/js/jquery.min.js"></script>
<!-- Datatable js -->
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script
src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/jszip.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/buttons.colVis.min.js"></script>
<script
src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script
src="https://evoting.mediacity.co.in/public/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/popper.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/bootstrap.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Tagsinput js -->
<script
src="https://evoting.mediacity.co.in/public/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script
src="https://evoting.mediacity.co.in/public/assets/plugins/bootstrap-tagsinput/typeahead.bundle.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/modernizr.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/detect.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/jquery.slimscroll.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/vertical-menu.js"></script>
<!-- Switchery js -->
<script src="https://evoting.mediacity.co.in/public/assets/plugins/switchery/switchery.min.js"></script>
<!-- Apex js -->
<script src="https://evoting.mediacity.co.in/public/assets/plugins/apexcharts/apexcharts.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/plugins/apexcharts/irregular-data-series.js"></script>
<!-- Slick js -->
<script src="https://evoting.mediacity.co.in/public/assets/plugins/slick/slick.min.js"></script>
<!-- Pnotify js -->
<script src="https://evoting.mediacity.co.in/public/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
<!-- Select2 js -->
<script src="https://evoting.mediacity.co.in/public/assets/plugins/select2/select2.min.js"></script>
<script src="https://evoting.mediacity.co.in/public/assets/js/core.js"></script>
<script src="https://evoting.mediacity.co.in/public/js/admin.js"></script>
<script>
"use Strict";

PNotify.desktop.permission();





</script>
<!-- tinymce start -->
<script type="text/javascript"
src="https://evoting.mediacity.co.in/public/admin/tinymce/plugin/tinymce/tinymce.min.js"></script>
<script type="text/javascript"
src="https://evoting.mediacity.co.in/public/admin/tinymce/plugin/tinymce/init-tinymce.js"></script>
<!-- End js -->
<script src="https://evoting.mediacity.co.in/public/js/custom.js"></script>

<!-- == tinymce start end = -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/custom/custom-dashboard.js"></script>
</body>

</html>